#contact {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  height: auto;
  width: 100%;
  padding: 10dvh 0 10dvh 0;
  /* background: var(--background-color); */
  /* margin-top: 3dvh; */
}

#contact p {
  opacity: 1;
  animation: none;
  font-weight: 450;
  text-align: center;
}

#contact p:nth-child(1) {
  font-weight: 600;
}

#contact p:nth-child(2) {
  font-size: 1rem;
  font-weight: 400;
}

#contact a {
  color: var(--primary-color);
}

#watermark {
  position: absolute;
  bottom: 1.5dvh;
}
