#customer-feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#customer-feedback .header-container {
  margin-bottom: 9dvh;
}

.comment-slider {
  /* background: grey; */
  min-height: 100px;
  width: 100%;
}

.comment-slider {
  width: 100%;
  height: var(--height);
  margin: 5dvh;
  padding: 15px 0 15px 0;

  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
}

.comment-slider .list {
  display: flex;
  max-width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}

.comment-slider .list .item {
  font-size: 100%;
  text-align: center;
  background: var(--background-color);
  border-radius: 25px;

  box-shadow: 0px 0px 2px rgba(3, 7, 18, 0.09), 0px 0px 7px rgba(3, 7, 18, 0.09),
    0px 0px 17px rgba(3, 7, 18, 0.09), 0px 0px 30px rgba(3, 7, 18, 0.09),
    0px 0px 47px rgba(3, 7, 18, 0.09), 0px 0px 67px rgba(3, 7, 18, 0.09);

  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 20s linear infinite;
  transition: filter 0.5s;
  animation-delay: calc(
    (20s / var(--quantity)) * (var(--position) - 1) - 20s
  ) !important;
}

.comment-slider .list .item img {
  width: 100%;
}

.comment-slider .list .item .content {
  margin: 10px;
}

@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}

.comment-slider:hover .item {
  animation-play-state: paused !important;
}

.galary {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 35dvh 35dvh 35dvh;
  gap: 2em;
  grid-template-areas:
    "image-1 image-2 image-2"
    "image-3 image-3 image-4"
    "image-5 image-6 image-6";

  height: auto;
  width: 70%;
  max-width: 700px;
  margin-top: 9dvh;
}

.galary img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(0.9);
}
